.button {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  background-color: getColor(selected);
  color: getColor(secondary);
  border-radius: $radius;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 1;
  &:hover {
    background-color: getColor(btn-hover);
  }
}
